:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body {
    background: var(--preto);
    color: white;
}


.logo {
    color: var(--vermelho);
    margin: 0 10px;
    font-family: 'Arial Black';
    font-size: 2rem;
}

.cabecalho {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('../img/breaking-bad-fundo.jpg');
    background-size: cover;
    height: 60vh;
}



header nav a {
    font-size: 1.1rem;
    text-decoration: none;
    margin-right: 20px;
    color: #AAA;
}

header nav a:hover {
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}


.cartaz-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
}

.star i {
    margin-bottom: 10px;
    color: var(--vermelho);
}

.cartaz-principal aside {
    width: 40%;
}

.cartaz-principal .titulo {
    margin-bottom: 1%;
    font-size: 1.5;
}

.cartaz-principal .descricao {
    margin-bottom: 2%;
}

.btn {
    text-decoration: none;
    padding: 1.5% 2.5%;
    margin-right: 15px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, .40);
    cursor: pointer;
    transition: .3s ease all;
}

.btn:hover {
    background-color: white;
    color: var(--preto);
}

.btn i {
    margin-right: 8px;
}

.menu {
    padding: 0px 15px;
}

.menu h2 {
    margin: 10px;
}

footer {
    background-color: var(--vermelho);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer i {
    color: white;
    margin-left: 10px;
}

@media screen and (max-width:700px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .cartaz-principal aside {
        width: 90%;
    }
}


.modal {
    display: none;
    margin: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
}


.modal-content {
    background-color: var(--preto);
    border-radius: 5px;
    width: 100vw;
    height: 91vh;
}

.close {
    color: white;
    float: right;
    font-size: 3rem;
    font-weight: bold;
    margin-right: 2%;
}

.close:hover,
.close:focus {
    color: var(--vermelho);
    text-decoration: none;
    cursor: pointer;
}