.bloco-lista {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  margin-right: 20px;
}
.lista-estilizada {
  background-color: black;
  margin-top: 10px;
  padding: 25px;
}
.item-cor {
  color: #12ff;
}